<footer>
  <div class="footer-categories">
    <h2>Art</h2>
    <ul>
      <li class="footer-categories-items">
        <a href="/items">Painting</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Photography</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Illustration</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Sculpture</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Prints</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Textile</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Design</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">Jewelery</a>
      </li>
      <li class="footer-categories-items">
        <a href="/items">All</a>
      </li>
    </ul>
  </div>
  <div class="footer-about">
    <h2>About</h2>
    <ul>
      <li class="footer-about-contacts">
        <a href="/contacts">Contacts</a>
      </li>
      <li class="footer-about-artists">
        <a href="/artists">Artists</a>
      </li>
    </ul>
  </div>
  <div class="footer-account">
    <h2>Account</h2>
    <ul>
      <li class="footer-account-login">
        <a href="/login">Login</a>
      </li>
      <li class="footer-account-register">
        <a href="/register">Register</a>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <h2>Social</h2>
    <i class="fab fa-instagram fa-3x">
      <a href="#"></a>
    </i>
    <i class="fab fa-facebook-square fa-3x"></i>
    <i class="fab fa-whatsapp fa-3x"></i>
  </div>
</footer>
