<footer>
  <div class="footer-categories">
    <h2>Art</h2>
    <ul>
      <li class="footer-categories-items">
        <a (click)="route('items')">Painting</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Photography</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Illustration</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Sculpture</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Prints</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Textile</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Design</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">Jewelery</a>
      </li>
      <li class="footer-categories-items">
        <a (click)="route('items')">All</a>
      </li>
    </ul>
  </div>
  <div class="footer-about">
    <h2>About</h2>
    <ul>
      <li class="footer-about-contacts">
        <a (click)="route('contacts')">Contacts</a>
      </li>
      <li class="footer-about-artists">
        <a (click)="route('artists')">Artists</a>
      </li>
    </ul>
  </div>
  <div class="footer-account">
    <h2>Account</h2>
    <ul>
      <li class="footer-account-login">
        <a (click)="route('auth/login')">Login</a>
      </li>
      <li class="footer-account-register">
        <a (click)="route('auth/register')">Register</a>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <h2>Social</h2>
    <i class="fab fa-instagram fa-3x">
      <a href="#"></a>
    </i>
    <i class="fab fa-facebook-square fa-3x"></i>
    <i class="fab fa-whatsapp fa-3x"></i>
  </div>
</footer>
