
    <div class="add-artist">
      <form [formGroup]="form" (ngSubmit)="create()">
        <h2>Add artist</h2>
        <label for="artist-name">Name</label>
        <input formControlName="name" id="artist-name" type="text" placeholder="Add artist name..."/>
        <label for="category">Artist category</label>
        <div class="categories">
          <select id="category" formControlName="category" (ngModelChange)="run()">
            <option *ngFor="let category of options" [ngValue]="category">
              {{ category.name }}
            </option>
          </select>
        </div>
        <label for="artist-image-url">Image Url</label>
        <input formControlName="imageUrl" id="artist-image-url" type="text" placeholder="Add image url..."/>
        <label for="artist-email">Artist email</label>
        <input formControlName="email" id="artist-email" type="email" placeholder="Add artist email..."/>
        <button type="submit" class="add-item-button" [disabled]="form.invalid">Create artist</button>
      </form>
    </div>
