
    <div class="add-artist">
      <form [formGroup]="form" (ngSubmit)="create()">
        <h2>Add artist</h2>
        <label for="artist-name">Name</label>
        <input formControlName="Name" id="artist-name" type="text" placeholder="Add artist name..."/>
        <label for="artist-field">Artist field</label>
        <input formControlName="Filed" id="artist-field" type="text" placeholder="Add artist name..."/>
        <label for="artist-image-url">Image Url</label>
        <input formControlName="ImageUrl" id="artist-image-url" type="text" placeholder="Add item description..."/>
        <label for="artist-email">Artist email</label>
        <input formControlName="Email" id="artist-email" type="email" placeholder="Add item price..."/>
        <button type="submit" class="add-item-button" [disabled]="form.invalid">Create artist</button>
      </form>
    </div>
