<div class="container">
  <div class="wrapper">
    <div class="gallery">
      <div *ngIf="items && items.length != 0 else empty">
        <div *ngFor="let item of items" class="gallery-item">
          <h2>{{item.category}}</h2>
          <h4>Author: {{item.artist}}</h4>
          <img src="{{item.imageUrl}}">
          <div class="order-item">l
            <p>Price: ${{item.price.toFixed(2)}}</p>
            <button class="add-to-cart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <h2 class="no-items">Currently no art items to display!</h2>
</ng-template>
