<div class="container">
  <div class="wrapper">
    <div class="gallery">
      <div *ngIf="items && items.length != 0; else 'noCars'">
        <div class="gallery-item">
          <h2>Abstract Art</h2>
          <h4>Author: Elia McNamara</h4>
          <img src="./assets/img/steve-johnson-3Sf_G9m0gcQ-unsplash.jpg">
          <div class="order-item">
            <p>Price: $850.oo</p>
            <button class="add-to-cart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
