<div class="container">
  <div class="wrapper">
    <div class="gallery">
      <div *ngIf="items && items.length != 0">
        <div *ngFor="let item of items" class="gallery-item">
          <h2>{{item.category}}</h2>
          <h4>Author: {{item.artist}}</h4>
          <img src="{{item.imageUrl">
          <div class="order-item">
            <p>Price: ${{item.price.toFixed(2)}}</p>
            <button class="add-to-cart">Add to cart</button>
          </div>
        </div>
      </div>
      <h2>Currently no art items to display!</h2>
    </div>
  </div>
</div>
