<div class="shopping-cart" *ngIf="cartItems.length > 0; else empty">
  <div class="shopping-cart-table">
    <h2 class="text-center">Your order</h2>

    <table>
      <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td>{{item.category}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.imageUrl}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(item)">Delete</button>
        </td>
        <td>{{item.price}}</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <b class="right">Total: {{totalPrice}} $</b>

    <h2 class="text-center">Delivery</h2>

  </div>
  <div *ngIf="added" class="text-center text-danger">{{added}}</div>

  <form [formGroup]="form" (ngSubmit)="submit()">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <p class="toast-error" *ngIf="form.get('name').errors.required">Enter your name</p>
      </div>

      <label for="phone">Phone number</label>
      <input id="phone" type="text" formControlName="phone">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <p class="toast-error" *ngIf="form.get('phone').errors.required">Enter your phone number</p>
      </div>

      <label for="address">Address</label>
      <input id="address" type="text" formControlName="address">
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <p class="toast-error" *ngIf="form.get('address').errors.required">Enter your phone address</p>
      </div>

      <label for="payment">Payment method:</label>
      <select id="payment" formControlName="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>

    <button type="submit" class="btn-primary" [disabled]="form.invalid || submitted">Place order</button>
  </form>
</div>

<ng-template #empty>
  <h2 class="shopping-cart-empty">Cart is empty, select item!</h2>
</ng-template>
