<header>
  <nav class="nav">
    <input type="checkbox" id="nav-check">
    <ul class="hidden">
      <li>
        <a class="logo" (click)="route('/')"><img src="assets/img/logo.svg"></a>
      </li>
      <li>
        <a (click)="route('artists')">Artists</a>
      </li>
      <li>
        <div class="categories">
          <select id="categories"  onchange="location = this.value;">
            <option value="items">Categories</option>
            <option value="items">Painting</option>
            <option value="items">Photography</option>
            <option value="items">Illustration</option>
            <option value="items">Sculpture</option>
            <option value="items">Prints</option>
            <option value="items">Textile</option>
            <option value="items">Design</option>
            <option value="items">Jewelery</option>
            <option value="items">All</option>
          </select>
        </div>
      </li>
    </ul>
    <div class="search">
      <label for="search">Search</label>
      <input type="search" id="search" name="search">
    </div>
    <div class="blog">
      <ul>

      </ul>
    </div>
    <div class="user">
      <ul class="hidden">
        <li>
          <a (click)="route('blog')">Blog</a>
        </li>
          <li *ngIf="!token">
            <a (click)="route('auth/login')">Login</a>
          </li>
          <li *ngIf="!token">
            <a (click)="route('auth/register')">Register</a>
          </li>
          <li *ngIf="token">
            <a (click)="route('blog/create')">Create article</a>
          </li>
          <li *ngIf="token">
          <a (click)="route('items/create')">Create item</a>
          </li>
          <li *ngIf="token">
            <a (click)="route('artists/create')">Create artist</a>
          </li>
          <li *ngIf="token">
            <a (click)="logout()">Logout</a>
          </li>
        <li>
          <div class="lang">
            <label for="language"></label>
            <select id="language">
              <option>EN</option>
              <option>BG</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
